<div class="flex bg-slate-700 text-gray-100 justify-around items-start py-6">

    <div class="text-left max-w-sm">
        <h6 class="font-bold">വിലാസം</h6>
        <p>റൂം നമ്പർ B10,
            അഡ്മിനിസ്ട്രേറ്റീവ് ബ്ലോക്ക്,
            നിയമസഭാ സമുച്ചയം,
            വികാസ് ഭവൻ പി.ഒ,
            തിരുവനന്തപുരം - 695033</p>
        <p>klssageneralsecretary@gmail.com</p>
    </div>
    <div>
        <ul>
            {{ taxonomy:tags sort="title" limit='10' }}
            <li class="mr-4 text-gray-400 font-medium">
                #<a href="/news/tags/{{slug}}" class="text-gray-100 hover:text-red-500">{{ title }}</a>
                ({{
                entries | count }})
            </li>



            {{ /taxonomy:tags }}
        </ul>
    </div>
</div>
<nav class="py-2 lg:py-4 text-center  bg-black text-gray-100 ">
    <div class="text-sm">&copy; {{ $now | format("Y") }} {{ $settings:site_name }}</div>
    <div class="flex items-center justify-center mt-4">
        {{ settings:social }}
        <a href="{{ $url }}" class="ml-4 text-gray-100" aria-label="{{ $name }}" rel="noopener">
            {{ svg :src="icon" class="h-6 w-6 hover:text-red-500" }}
        </a>
        {{ /settings:social }}
    </div>
</nav>