<nav x-data="{searching: false}" class="bg-red-600 opacity-90 text-white">
    <div class="mx-auto px-3 py-3 flex items-center justify-between flex-wrap">
        <a href="/" class="mr-12 antialiased block text-xl lg:inline-block  font-bold text-md hover:text-yellow-400"
            x-show="! searching">{{
            settings:site_name }}</a>


        <div class="block lg:hidden">
            <button class="flex items-center px-3 text-gray-800" x-bind:class="{'hidden': showMobileNav}"
                @click="showMobileNav = true">
                <svg class="fill-current h-5 w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Open Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
            <button class="items-center px-3 text-gray-800"
                x-bind:class="{'flex': showMobileNav, 'hidden': ! showMobileNav}" @click="showMobileNav = false"
                x-cloak>
                <svg class="fill-current h-5 w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Close Menu</title>
                    <path
                        d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z" />
                </svg>
            </button>
        </div>

        <div class="w-full lg:w-auto lg:flex  items-center justify-end" @click.outside="showMobileNav = false"
            x-show="showMobileNav">

            {{ nav:main }}

            <ul>

                {{ if depth == 1 }}


                {{ if children }}

                <li class="lg:flex  lg:relative group ">
                    <a href="{{ url }}"
                        class="block {{ is_current || is_parent ?= 'font-medium text-gray-100' }} mb-2 lg:mb-0 mt-4 lg:inline-block text-gray-100 hover:text-yellow-100 lg:mt-0 mr-5">
                        {{ title }}<i class="fa-solid fa-chevron-down fa-2xs pt-3 pl-1"></i>
                    </a>

                    <ul
                        class="lg:absolute bg-red-600 lg:p-3 lg:w-52 lg:top-6 transform lg:scale-0   group-hover:scale-100 transition duration-150 ease-in-out origin-top lg:shadow-lg">
                        {{ *recursive children* }}
                    </ul>
                </li>
                {{ else }}
                <li>
                    <a href="{{ url }}"
                        class="block mt-4 lg:inline-block text-gray-100 hover:text-yellow-100 lg:mt-0 mr-5 hover:underline underline-offset-2">
                        {{ title }}
                    </a>
                </li>
                {{ /if }}

                {{ elseif depth == 2 }}
                <li class=" sm:indent-8 lg:indent-0 text-sm hover:text-yellow-400 leading-8">
                    <a href="{{ url }}" class="block  lg:inline-block text-gray-100 hover:underline underline-offset-2">
                        {{ title }}
                    </a>
                </li>
                {{ /if }}
            </ul>
            {{ /nav:main }}



            <button class="sm:hidden lg:block hover:text-yellow-400 transition-all duration-100 outline-none"
                @click="searching = true; $nextTick(() => { $refs.search.focus() })" aria-label="Search the site">
                {{ svg src="search-{settings:personality}" class="w-6 h-6" }}
            </button>

        </div>

        <form action="/search" x-show="searching" x-cloak class="flex-1 text-black mx-3 my-1">
            <input name="q" type="text" class="w-full outline-none px-2 py-1 ml-3" placeholder="Search for stuff"
                x-on:blur="searching = false" @keydown.enter="search" @keydown.esc="searching = false"
                x-show="searching" x-ref="search" />
        </form>
    </div>
    <div class="w-full border-b-2 border-orange-400"></div>
</nav>