<div class="container mx-auto">
    <article>
        <div class="container md:rounded-t-lg overflow-hidden">
            <section class="grid grid-cols-1 md:grid-cols-3 gap-4">

                <div class="md:col-span-2 md:row-span-2">


                    <div class="swiper mySwiper  h-full  ">
                        <div class="swiper-wrapper ">
                            {{ collection:blog limit="3" sort="date:desc" }}

                            <a href="{{ $url }}"
                                class="swiper-slide transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white overflow-hidden">

                                <img src="{{ glide:hero_image}}" class="h-full object-cover"
                                    alt="{{ $hero_image:alt }}">
                                <h3
                                    class="absolute text-base md:text-md lg:text-lg text-violet-100 w-fit bottom-5 left-5">
                                    {{title}}</h3>
                                <div
                                    class="absolute  top-5 right-5 cursor-pointer px-2 py-1 text-gray-600 font-bold bg-yellow-300 transition hover:bg-orange-300 rounded-full text-sm">
                                    വാർത്തകൾ
                                </div>

                            </a>
                            {{ /collection:blog }}

                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>

                </div>

                <div class="col-span-1 md:col-start-3">
                    {{ collection:blog limit="1" sort="date:desc" }}

                    <a href="{{ $url }}"
                        class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white overflow-hidden">

                        <img src="{{ glide:hero_image}}" class="h-full object-cover" alt="{{ $hero_image:alt }}">
                        <h3 class="absolute text-base	md:text-md lg:text-lg text-violet-100 w-fit bottom-5 left-5">
                            {{title}}</h3>

                    </a>
                    {{ /collection:blog }}

                </div>

                <div class="col-span-1 md:col-start-3">
                    {{ collection:blog limit="1" sort="date:desc" }}

                    <a href="{{ $url }}"
                        class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white overflow-hidden">

                        <img src="{{ glide:hero_image}}" class="h-full object-cover" alt="{{ $hero_image:alt }}">
                        <h3 class="absolute text-base	md:text-md lg:text-lg text-violet-100 w-fit bottom-5 left-5">
                            {{title}}</h3>

                    </a>
                    {{ /collection:blog }}

                </div>

            </section>
        </div>
</div>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.mySwiper', {
        autoHeight: true,

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
            pauseOnMouseEnter: true,
            reverseDirection: true,
        },


    });
</script>