<!doctype html>
<html lang="{{ $site:short_locale }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ $title }} — {{ $settings:site_name }}</title>
  <meta name="description" content="{{ $intro | strip_tags | entities }}">
  <script type="application/ld+json">
            {
              "@context": "https://schema.org/",
              "@type": "blogPost",
              "name": "{{ $title }}",
              "author": {
                "@type": "Person",
                "name": "{{ $author:name }}"
              },
              "datePublished": "{{ $date | format("Y-m-d") }}",
              "description": "{{ $intro | strip_tags | entities }}"
            }
        </script>
  <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />



  {{ partial:personality }}
  <script src="{{ mix src='/js/site.js' }}"></script>
</head>

<body class="bg-white text-black font-body leading-normal personality-{{ $settings:personality }}"
  x-data="{ showMobileNav: false }">

  <header class="sticky z-50 top-0">
    {{ partial:nav }}
  </header>
  <main class="relative py-2 lg:py-10">
    {{ $template_content }}
  </main>
  {{ partial:footer }}
  {{ partial:extras }}

  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

</body>

</html>