<a href="{{ $url }}"
    class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden">

    <img class="w-full" height="150" src="{{ glide:thumb height='150' width='250' fit='crop_focal' }}"
        alt="{{ $thumb:alt }}">
    <div class="py-6 px-8">
        <h6 class="font-bold text-2xl leading-tight">
            {{ $title }}
        </h6>
        <p class="text-xs text-gray-600 mt-4 flex items-center">
            {{ $date }}
        </p>
    </div>
</a>