<a href="{{ $url }}"
    class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden">

    <img class="w-full" height="150" src="{{ glide:thumb height='150' width='250' fit='crop_focal' }}"
        alt="{{ $thumb:alt }}">
    <div class="py-2 px-2 text-center ">

        <p class="text-xs font-extralight text-gray-600 ">
            {{ $date }}
        </p>
        <p class="text-base leading-tight">
            {{ $title }}
        </p>
    </div>
</a>