<article class="max-w-6xl mx-auto px-3">
    <header class="mx-auto max-w-xl text-center content">
        <h6 class="mb-4">{{title}}</h6>

    </header>



    <section class="flex flex-wrap justify-center gap-6 py-8">
        {{ gallery_images }}

        <div
            class="w-[250px] h-[250px] rounded-xl shadow-lg overflow-hidden transition-all duration-75 ease-in-out h-full  relative top-0 hover:-top-2  hover:shadow-xl">
            <a href="{{ glide:url }}" class="glightbox h-full w-full " data-width="100vw" data-height="auto"
                data-zoomable="true" data-type="image">
                <img class="h-full w-full object-cover overflow-hidden" src="{{ glide:url }}" alt="{{ alt }}">
            </a>
        </div>

        {{ /gallery_images }}
    </section>





</article>

<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script>

    const lightbox = GLightbox({
        touchNavigation: true,
        loop: true,

    });
</script>