<article class="max-w-6xl mx-auto px-3">
    <header class="mx-auto max-w-xl text-center content">
        <h6 class="mb-4">{{title}}</h6>

    </header>



    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 py-8">
        {{ gallery_images }}

        <div>
            <a href="{{ glide:url }}" class="glightbox" data-width="100vw" data-height="auto" data-zoomable="true"
                data-type="image">
                <img src="{{ glide:url }}" alt="{{ alt }}">
            </a>
        </div>

        {{ /gallery_images }}
    </section>





</article>

<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script>

    const lightbox = GLightbox({
        touchNavigation: true,
        loop: true,

    });
</script>