<a href="{{ $url }}"
    class="flex p-2 m-1 transition-all duration-75 ease-in-out h-full block group  hover:border border-slate-300 bg-white rounded-xl overflow-hidden">
    <div class="bg-red-600   w-[50px]">
        <img class="h-full" src="{{ glide:hero_image height='570'
        width='736' fit='crop_focal' }}" alt="{{ $hero_image:alt }}">
    </div>

    <div class=" py-1 px-2 w-full">
        <h2 class="font-bold text-md leading-tight group-hover:text-indigo-600">
            {{ $title }}
        </h2>
        <p class="text-xs text-gray-600 flex items-center">
            {{ $date }}
        </p>
    </div>
</a>